{% extends 'base.html.twig' %} {% block title %}Hello UserController!{% endblock
%} {% block body %}
    <p><strong>FirstName</strong> :{{ user.FirstName }}</p>
    <p><strong>LastName</strong> :{{ user.LastName }}</p>
    <p><strong>Lieux</strong> :{{ user.hometown.name }}</p>

    <a href="{{user.link}}">See profile</a><br>
    <a href="{{user.PictureUrl}}">dl Photo de profil</a>


{# 
    <a href="{{path('test')}}">Go to next page</a> #}
{% endblock %}
