{% extends 'base.html.twig' %} {% block title %}Hello UserController!{% endblock
%} {% block body %}
    <p><strong>FirstName</strong> :{{ user.FirstName }}</p>
    <p><strong>LastName</strong> :{{ user.LastName }}</p>
    <p><strong>Sexe</strong> :{{ user.gender }}</p>
    <p><strong>Hometown</strong> :{{ user.hometown.name }}</p>

    <a href="{{user.link}}">See profile</a>
{% endblock %}
